button {
    padding: var(--button-padding, 8px);
    border-radius: var(--button-border-radius, 6px);
    border: 1px solid var(--button-border-color, var(--gray-500));
    font-size: var(--button-font-size, 14px);
    color: var(--button-color, #000);

    &:not(.deactivate):active{
        transform: scale(0.95);
    }
}