
@use "../../../../styles/environments" as env;

:host {
    position: absolute;
    top: 100%;
    right: var(--sides-spacing);
    width: 300px;
    border: 1px solid var(--product-border-color, var(--gray-600));
    border-radius: var(--button-border-radius, 6px);
    background-color: var(--gray-950);
    padding: 12px;
    text-align: center;
    z-index: 1;
    --heading-4-font-size: 18px;
    --button-padding: 1px 5px;
    --button-border-radius: 4px;
}
header{
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--product-border-color, var(--gray-600));
    font-weight: 700;
}
ul {
    font-size: 14px;
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0;
    }
}
button{
    background-color: env.$error-color;
    color: env.$white;
}