:host {
    display: block;
    padding: var(--product-padding, 12px);
    border-radius: var(--product-border-radius, 6px);
    border: 1px solid var(--gray-700);
    --heading-3-font-size: 18px;
}
h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
button {
    width: 100%;
    margin-top: 16px;
}